 /*Faq*/
 
 .faq-search-wrap {
    padding: 50px 0 60px;
}

.faq-search-wrap .form-group .form-control,
.faq-search-wrap .form-group .dd-handle {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.faq-search-wrap .form-group .input-group-append {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
}

.faq-search-wrap .form-group .input-group-append .input-group-text {
    background: transparent;
    border: none;
}

.faq-search-wrap .form-group .input-group-append .input-group-text .feather-icon > svg {
    height: 18px;
    width: 18px;
}
.bg-teal-light-3 {
    background-color:#28a745 !important;
}
 
 /* card details start  */
 @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
 section{
     padding: 100px 0;
 }
 .details-card {
     background: #ecf0f1;
 }
 
 .card-content {
     background: #ffffff;
     border: 4px;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
 }
 
 .card-img img {
     width: 100%;
     height: 250px;
     display: block;
 }
 
 .card-img span {
     position: absolute;
     top: 15%;
     left: 12%;
     background: #28a745;
     padding: 6px;
     color: #fff;
     font-size: 12px;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
     transform: translate(-50%,-50%);
 }
 .card-img span h4{
         font-size: 12px;
         margin:0;
         padding:10px 5px;
          line-height: 0;
 }
 
 .btn-card{
     display: inline-block;
     background-color: #28a745;
     color: #fff;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
     padding: .84rem 2.14rem;
     font-size: .81rem;
     margin: 10px;
     border: 0;
     -webkit-border-radius: .125rem;
     border-radius: .125rem;
     cursor: pointer;
     text-transform: uppercase;
     white-space: normal;
     word-wrap: break-word;
 }
 body{
     background:#f5f5f6;
     margin-top:20px;
 }
 
 /* Main styles */
 .description {
     line-height: 18px;
     max-height: calc(18px * 3);
     overflow: hidden;
     color: #747373;
     margin: 10px;
     margin-bottom: 20px;
     margin-left: 20px;
     padding: 10px;
     font-family: 'Raleway', sans-serif;
     font-size: 13px;
     font-weight: 500;
 }
 .button-readmore::after {
   margin: 10px;
   content: 'READ MORE'
 }
 
 .button-readmore {
     display: inline-block;
     background-color: #28a745;
     color: #fff;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
     padding: .84rem 2.14rem;
     font-size: .81rem;
     margin: 10px;
     border-radius: .100rem;
     cursor: pointer;
     text-transform: uppercase;
     white-space: normal;
     word-wrap: break-word;
 }
 .button-readmore:hover {
   background: rgb(243, 211, 4);
 }
 
 #check-readmore:checked ~ .button-readmore::after {
   content: 'READ LESS'
 
 }
 #check-readmore:checked ~ .description {
   max-height: 100vh;
 }
 
 /* Hide input checkbox */
 #check-readmore {
   position: absolute;
   left: -100px;
 }
 
 /* End card section */
